<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'singup' %}" method="POST">
        {% csrf_token %}
        <label for="">username</label>
        <input type="text" placeholder="username" name="username"><br>
        <label for="">fname</label>
        <input type="text" placeholder="fname" name="fname"><br>
        <label for="">lname</label>
        <input type="text" placeholder="lname" name="lname"><br>
        <label for="">email</label>
        <input type="email" placeholder="email" name="email"><br>
        <label for="">password</label>
        <input type="password" placeholder="password" name="password"><br>
        <label for="">password1</label>
        <input type="password1" placeholder="password1" name="password1"><br>
        <button type="submit">singup</button>

    </form>
    
</body>
</html>